@media (min-width: 980px) {
  body {
    padding-bottom: 42px;
  }
}
body.abraxas{
    /*background-color: #eff8fa;*/
}
.applogo{
    width: 45px;
    margin-top: 2px ;
}

.navbar-custom {
    background: #428196; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #428196, #428196);
    background: -moz-linear-gradient(right, #428196, #428196);
    background: -o-linear-gradient(right, #428196, #428196);
    background: linear-gradient(to left, #428196, #428196);
    color:#ffffff;
    border-radius:0 !important;
    border-bottom: 2px solid #2D5D6D !important;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > li > a:hover {
    color:#fff;
    background-color:#8DB8C6;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-custom .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color:#2D5D6D;
    border-color: #8DB8C6;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    border-color: #bbb;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.submenu .list-group-item.active, .submenu .list-group-item.active:focus, .submenu .list-group-item.active:hover{
    background-color: rgba(101, 126, 222, 0.74);
    border-color: #8288eb;
}

button.btn-primary {
    color: #fff;
    background-color: rgba(101, 126, 222, 0.74);
    border-color: #8288eb;
}
button.btn-primary:hover {
    color: #fff;
    background-color: rgba(80, 109, 220, 0.74);
    border-color: #686fe6;
}

@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	.bbGrid-grid table, 
	.bbGrid-grid thead, 
	.bbGrid-grid tbody, 
	.bbGrid-grid th, 
	.bbGrid-grid td, 
	.bbGrid-grid tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.bbGrid-grid thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.bbGrid-grid tr { border: 1px solid #ccc; }
 
	.bbGrid-grid td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
		white-space: normal;
		text-align:left;
	}
 
	.bbGrid-grid td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	.bbGrid-grid td:before { content: attr(data-title); }
}


#scheduler .sjs-grid-overlay-col{
	background-color: rgba(92, 184, 92, 0.35);
}
#scheduler .wrong{
	background-color: rgba(255,18,0,.3);
}



.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login .text-left{
	color: #000;
}
.navbar-login .glyphicon-user{
	color: #CCC;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}