
.login-page {
  width: 360px;
  padding: 6% 0 0;
  margin: auto;
}
.title{
  text-align: center;
  color: #fff;font: bold 65px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding:10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form form{
  margin: 45px;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4B956F;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #77B395;
}
.form .message {
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4B956F;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

 .info span .err {
  margin: 15px 0 0;
  color: #EF3B3A;
}
body {
  background: #568696; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #568696, #568696);
  background: -moz-linear-gradient(right, #568696, #568696);
  background: -o-linear-gradient(right, #568696, #568696);
  background: linear-gradient(to left, #568696, #568696);
}