
.entranceForm {
  width: 360px;
  padding: 30px 0 0;
  margin: auto;
  color: #fff;
}
.title{
  text-align: center;
  color: #fff;font: bold 65px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.title a, .title a:hover{
    color: #fff;
    text-decoration: none;
}

.entranceForm .directAccessButton {
  outline: 0;
  background: #62B07C;
  width: 100%;
  border: 0;
  padding: 15px;
    margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.entranceForm .directCancelButton {
    outline: 0;
    background: #b03427;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.entranceForm .directAccessButton:hover,.entranceForm .directAccessButton:active,.entranceForm .directAccessButton:focus {
  background: #90CCA4;
}
body {
  background: #568696; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #568696, #568696);
  background: -moz-linear-gradient(right, #568696, #568696);
  background: -o-linear-gradient(right, #568696, #568696);
  background: linear-gradient(to left, #568696, #568696);
}

.jqbtk-container{
  margin-top: 15px;
}



.clock {
    padding-top: 10px;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

#Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    /*text-shadow: 0 0 5px #00c6ff;*/
}

.clock ul {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.clock ul li {
    display: inline;
    font-size: 4em;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    };
}