<!--<div style='text-align:center; display: none' id='normal'>
    {#pageNum}/{#numPages}
</div>-->


En {{info_usu.localidad}} a {{info_usu.today}}
<div id="last" style="float: right; display: none; text-align:center; width: 275px; height: 87px; border: 1px solid #ddd; color: #ddd;">
    <span style="display: table-cell; vertical-align: middle;">Firma</span>
</div>

<!--<div id="last" style="float: right; display: none; text-align:center; width: 275px; height: 87px; border: 1px solid #ddd; color: #ddd;">-->
    <!--<span style="display: table-cell; vertical-align: middle;">Firma</span>-->
<!--</div>-->

<script>
    if ({#pageNum} == {#numPages}) {
        document.getElementById('last').style.display='table'
    } 
    // else {
    //     document.getElementById('normal').style.display='block'
    // }
</script>