<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registro diario de jornada</title>

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            background-color: #fff;
            font-family: verdana;
            font-size: 18px;
            position: relative;
            /*height: 600px;*/
        }

        .title {
            padding-top: 15px;
            padding-bottom: 15px;
            color: #424242;
            text-align: center;
            font-size: 25px;
            /*background-color: #eee;*/
            background-color: #fff;
            border-bottom: 1px solid #428196;
        }

        header {
            /*padding-top: 30px;*/
            /*padding-bottom: 50px;*/
            color: #6E6E6E;
        }

        .tabla-datos-user table {
            padding-top: 10px;
            font-size: 18px;
            color: #6E6E6E;
            width: 100%;
            text-align: left;
        }

        .tabla-datos-user caption {
            /*font-style: italic;*/
            /*font-weight: bold;*/
            font-size: 20px;
            padding-bottom: 4px;
            margin-bottom: 4px;
            color: #424242;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .tabla-datos-tracking table {
            padding-top: 10px;
            width: 100%;
            font-size: 15px;
            margin-bottom: 12cm;
        }

        .tabla-datos-tracking caption {
            /*font-style: italic;*/
            /*font-weight: bold;*/
            font-size: 20px;
            padding-bottom: 4px;
            margin-bottom: 4px;
            border-bottom: 1px solid #ddd;
            text-align: left;
            color: #424242;
        }

        .tabla-datos-tracking thead th {
            font-weight: bold;
            padding: 6px 0;
            color: #fff;
            background: #428196;
        }

        .tabla-datos-tracking thead tc {
            text-align: center
        }

        .tabla-datos-tracking tbody tr th {
            padding-left: 8px
        }

        .tabla-datos-tracking tbody tr:nth-of-type(even) th,
        .tabla-datos-tracking tbody tr:nth-of-type(even) td {
            background: #eee
        }

        .tabla-datos-tracking tbody th,
        .tabla-datos-tracking tbody td {
            padding-top: 6px;
            padding-bottom: 6px;
            background: #fff;
        }

        .tabla-datos-tracking tbody td {
            text-align: center
        }

        .tabla-datos-tracking tfoot td {
            text-align: right;
            font-size: 11px;
            font-weight: bold;
            background: #e5e5e5;
            padding: 6px 8px;
        }

        footer {
            /*margin-top: 50px;*/
            position: absolute;
            bottom: 5px;
            right: 10px;
        }

        /*
        .polig {
            margin-top: 5px;
            width: 275px;
            height: 100px;
            background: #fff;
            border: 1px solid #ddd;
        }*/
    </style>
</head>


<body>
<p class="title">Registro diario de jornada </p>
<header id="header">
    <div class="tabla-datos-user">
        <table>
            <!--<caption>Detalles generales del usuario</caption>-->

            <tbody>
            <tr>
                <td>Empresa: {{info_usu.nombre_grupo}}</td>
            </tr>
            <tr>
                <td>CIF: {{info_usu.cif}}</td>
                <td>Código cuenta cotización: {{info_usu.account_quote_code}}</td>
            </tr>
            <tr>
                <td>Trabajaodr: {{info_usu.fullname}}</td>
            </tr>
            <tr>
                <td>DNI: {{info_usu.dni}}</td>
                <td>NAF: {{info_usu.naf}}</td>
            </tr>
            </tbody>
        </table>
        <p>Periodo: {{info_usu.month}} de {{info_usu.year}} </p>
        <p>
            <em style="font-size: 50%;">
            Registro diario de la jornada de los trabajadores en cumplimiento de la obligación establecida en los art. 12, apartado 4 c)(Tiempos parciales), y art. 35.5 (Tiempos completos) del texto refundido de la Ley de los trabajadores, aprobado por RDL 2/2015 de 23 de octubre.
            </em>
        </p>
    </div>
</header>
<div class="tabla-datos-tracking">
    <table>
        <!--<caption>Datos de los registros de entrada y salida</caption>-->

        <thead>
        <tr>

            <!--<th>Id</th>-->
            <!--<th>Acción</th>-->
            <!--<th>Fecha</th>-->
            <!--<th>Acción</th>-->
            <!--<th>Tipo</th>-->
            <!--<th>Usuario</th>-->
            <!--<th>Estado</th>-->
            <!--<th>Activo</th>-->
            <!--<th>Grupo</th>-->
            <!--<th>Perfil</th>-->
            <th>Día</th>
            <th>1ª Entrada</th>
            <th>1ª Salida</th>
            <th>2ª Entrada</th>
            <th>2ª Salida</th>
            <th>3ª Entrada</th>
            <th>3ª Salida</th>
            <th>4ª Entrada</th>
            <th>4ª Salida</th>
        </tr>
        </thead>

        <tbody>
        {{#each trackings}}
        <tr>
            <!--<th>{{TrackingID}}</th>-->
            <!--<td>{{convertAction action}}</td>-->
            <!--<td>{{parseDate date}}</td>-->
            <!--<td>{{action}}</td>-->
            <!--<td>{{NombreTipoTrack}}</td>-->
            <!--<td>{{username}}</td>-->
            <!--<td>{{status}}</td>-->
            <!--<td>{{active}}</td>-->
            <!--<td>{{NombreGrupo}}</td>-->
            <!--<td>{{profile_id}}</td>-->
            <td>{{day}}</td>
            <td>{{start0}}</td>
            <td>{{end0}}</td>
            <td>{{start1}}</td>
            <td>{{end1}}</td>
            <td>{{start2}}</td>
            <td>{{end2}}</td>
            <td>{{start3}}</td>
            <td>{{end3}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>

</body>

</html>