
<h1>Hello {{foo}}</h1>
<br/>
<br/>
<table style='border-style:solid'>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Sales</th>
    </tr>
    {{#each trackings}}
    <tr>
        <td>{{date}}</td>
        <td>{{action}}</td>
        <td>{{user_id}}</td>
    </tr>
    {{/each}}
</table>